* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  font-family: sans-serif;
  background: url(./1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

input[type="checkbox"] {
  width: 1.5rem;
  filter: invert(100%) hue-rotate(180deg) brightness(1.7);
}

main {
  border: 1px lightgray solid;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
}

h3 {
  position: relative;
  margin: 20px 5px;
  padding: 5px;
  border-bottom: 1px lightgray solid;
  color: aliceblue;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.inputtext {
  border: none;
  padding: 3px;
  font-size: 1.2rem;
  min-width: 90%;
  background-color: rgb(205, 225, 218);
}

li {
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  border-bottom: 1px lightgray solid;
  position: relative;
  display: flex;
}

button {
  position: absolute;
  right: 10px;
  border: none;
  padding-top: 9px;
  cursor: pointer;
}

.fa-icon {
  position: absolute;
  right: 10px;
  border: none;
  padding: 0 5px;
}

.fa-arrows-rotate {
  color: aliceblue;
}

li:last-child {
  margin-bottom: 0;
}

#add::placeholder {
  font-style: italic;
}

#add {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: aliceblue;
  border-bottom: 1px lightgray solid;
}

#add:focus {
  outline: none;
}

.checkboxitem {
  margin-right: 10px;
}

.clear {
  text-align: center;
  cursor: pointer;
  color: aliceblue;
}

.clearlist {
  background-color: rgb(40, 83, 120);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.editdiv {
  display: none;
}

.inputextedit {
  padding: 10px 0;
  border: none;
  font-size: 1.2rem;
  width: 80%;
}

.taskdiv {
  display: flex;
  width: 90%;
}

@media screen and (max-width: 540px) {
  .inputtext {
    min-width: 70%;
    margin-right: 9px;
  }
}
