* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(249, 252, 253);
  font-family: sans-serif;
}

main {
  border: 1px lightgray solid;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  background-color: white;
}

h3 {
  position: relative;
  margin: 20px 5px;
  padding: 5px;
  border-bottom: 1px lightgray solid;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.taskinput {
  border: none;
  width: 80%;
  padding: 10px 0;
}
li {
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  border-bottom: 1px lightgray solid;
  position: relative;
}

li:last-child {
  margin-bottom: 0;
}

.fa-icon {
  position: absolute;
  right: 15px;
}
.deleted {
  margin-top: 20px;
}

#add::placeholder {
  font-style: italic;
}

#add {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px lightgray solid;
}

.checkbox {
  margin-right: 10px;
}

.clear {
  text-align: center;
  color: gray;
}

.clearlist {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.editdiv {
  display: none;
}
.inputextedit {
  padding: 10px 0;
  border: none;
  font-size: 1.2rem;
  width: 80%;
}

